{
  "extends": "airbnb-base",
  "rules": {
    "indent": ["error", 2, {
      "MemberExpression": 0
    }],
    "no-underscore-dangle": ["error", { "allowAfterThis": true }],
    "comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
      "functions": "never"
    }],
    "class-methods-use-this": "off",
    "import/no-unresolved": "off",
    "import/no-extraneous-dependencies": "off",
    "function-paren-newline": "off",
    "arrow-parens": ["error", "always"],
    "no-plusplus": "off",
    "lines-between-class-members": "off",
    "operator-linebreak": ["error", "after"]
  }
}
