{
  "root": true,
  "plugins": ["homer0"],
  "extends": ["plugin:homer0/jest"],
  "globals": {
    "process": true,
    "module": true
  },
  "rules": {
    "global-require": "off",
    "max-classes-per-file": "off"
  }
}
